In [11]:
import pandas as pd
import numpy as np

In [12]:
dataset = {
    'name': ['kizzah', 'john', 'doe', 'jack', 'jill'],
    'marks': [100,66,77,90,77],
}
df = pd.DataFrame(dataset)

serries =pd.Series(dataset)
print(df)
print(serries)

     name  marks
0  kizzah    100
1    john     66
2     doe     77
3    jack     90
4    jill     77
name     [kizzah, john, doe, jack, jill]
marks              [100, 66, 77, 90, 77]
dtype: object

##### Labels

In [14]:
dataset = {
    'name': ['kizzah', 'john', 'doe', 'jack', 'jill'],
    'marks': [100,66,77,90,77],
}

df = pd.DataFrame(dataset, index = [45,46,47,48,49])
df

      name  marks
45  kizzah    100
46    john     66
47     doe     77
48    jack     90
49    jill     77

#### Locating elemnets

In [23]:
dataset = {
    'name': ['kizzah', 'john', 'doe', 'jack', 'jill'],
    'marks': [100,66,77,90,77],
}

df = pd.DataFrame(dataset, index=['s1','s2','s3','s4','s5'])

# df.to_csv('data.csv', index=False)
print(df)
print()

df.loc['s4']

      name  marks
s1  kizzah    100
s2    john     66
s3     doe     77
s4    jack     90
s5    jill     77

name     jack
marks      90
Name: s4, dtype: object

#### Load csv

In [24]:
import csv

data = pd.read_csv('data.csv')
data

     name  marks
0  kizzah    100
1    john     66
2     doe     77
3    jack     90
4    jill     77

In [27]:
import requests
import os

def download_csv(url):
    r = requests.get(url)
    if r.status_code == 200:
        with open('csv_data.csv', 'wb') as f:
            f.write(r.content)

if not os.path.exists('csv_data.csv'):
    download_csv()

df = pd.read_csv('csv_data.csv')

SyntaxError: incomplete input (1658808957.py, line 12)

In [ ]:
todos = requests.get("").json()
df = pd.DataFrame(todos)