In [1]:
import pandas as pd
import numpy as np

In [5]:
dataset = {
    'name': ['kizzah', 'john', 'doe', 'jack', 'jill'],
    'marks': [100,66,77,90,77],
}

df = pd.DataFrame(dataset)
serries =pd.Series(dataset)
print(df)
print(serries)

     name  marks
0  kizzah    100
1    john     66
2     doe     77
3    jack     90
4    jill     77
name     [kizzah, john, doe, jack, jill]
marks              [100, 66, 77, 90, 77]
dtype: object